MONGODB_URL=mongodb+srv://ecommerce:DB_PASSWORD_PLACEHOLDER@cluster0.izayalx.mongodb.net/?retryWrites=true&w=majority
TWILIO_ACCOUNT_SID=TWILIO_ACCOUNT_SID_PLACEHOLDER
TWILIO_AUTH_TOKEN=TWILIO_AUTH_TOKEN_PLACEHOLDER
TWILIO_PHONE_NUMBER=TWILIO_PHONE_PLACEHOLDER